{% extends 'base.html' %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-6">
            <h1>My Collection</h1>
            <h2>In bookshelf</h2>
            <ul>
                {% for song in songs %}
                <li>{{ song.name }} by {{song.author.name}}: Rs. {{song.price}}
                    <button onclick="playSong({{ song.id }})">Read</button>
                    <a href="/return_borrowing/{{ song.id }}"><button>Return</button></a>
                    <a href="/download/{{ song.id }}"><button>Pay and Download</button></a>
                </li>
                {% endfor %}
            </ul>
            <h2>Requested</h2>
            <ul>
                {% for song in asongs %}
                <li>{{ song.name }} by {{song.author.name}}</li>
                {% endfor %}
            </ul>   
            <h2>Returned or Expired</h2>
            <ul>
                {% for song in bsongs %}
                <li>{{ song.name }} by {{song.author.name}}</li>
                {% endfor %}
            </ul> 
        </div>
        <div class="col-md-6">
            <div class="mb-3 p-5 bg-light">
                <div id="title"> Title: {{title}}</div>
                <div id="language"> Lanuage: {{language}}</div>
                <div id="artist"> Author: {{artist}}</div>
                <div id="album_id"> Section: {{album_id}}</div>
                <div id="content"> Content: {{content}}</div>
                <div id="averageRating"> Average Rating: {{ average_rating }}</div>
                <form id="rateForm" action="/rate_book/{{ song_id }}" method="POST">
                    <label for="rating">Rating:</label>
                    <select name="rating" id="rating">
                        <option value="1" {% if existing_rating == 1 %} selected {% endif %}>1</option>
                        <option value="2" {% if existing_rating == 2 %} selected {% endif %}>2</option>
                        <option value="3" {% if existing_rating == 3 %} selected {% endif %}>3</option>
                        <option value="4" {% if existing_rating == 4 %} selected {% endif %}>4</option>
                        <option value="5" {% if existing_rating == 5 %} selected {% endif %}>5</option>
                    </select>
                    <button type="submit">Rate</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function playSong(songId) {

        fetch('/get_book_metadata/' + songId)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch metadata');
                    }
                    return response.json();
                })
                .then(metadata => {
                    const title = document.getElementById('title');
                    const song_id = document.getElementById('rateForm');
                    const content = document.getElementById('content');
                    const language = document.getElementById('language');
                    const artist = document.getElementById('artist');
                    const album_id = document.getElementById('album_id');
                    const averageRating = document.getElementById('averageRating');
                    title.innerText = 'Title: ' + metadata.title;
                    content.innerText = 'Content: ' + metadata.content;
                    language.innerText = 'Language: ' + metadata.language;
                    artist.innerText = 'Author: ' + metadata.artist;
                    album_id.innerText = 'Section: ' + metadata.album_id;
                    rateForm.action = "/rate_book/" + songId;
                    averageRating.innerText = 'Average Rating: ' + metadata.average_rating;

                    const rating = document.getElementById('rating');
                    rating.value = metadata.existing_rating ? metadata.existing_rating : 1;
                })
                .catch(error => {
                    console.error(error);
                });
}

</script>
{% endblock %}
