{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Recently Added Books</h2>
        <ul>
            {% for song in recentlyAdded[:5] %}
            <li>{{ song.name }} by {{song.author.name}}
                <a href="/request_book/{{ song.id }}"><button>Request</button></a>
            </li>
            {% endfor %}
        </ul>
        <h2>Recently Added Sections</h2>
        <ul>
            {% for album in recentlyUpdatedAlbums[:5] %}
            <li><a href="{{ url_for('album_books', section_id=album.id) }}">{{ album.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Top Rated Books</h2>
        <ul>
            {% for song in topRated[:5] %}
            <li>{{ song.name }} - Rating: {{ song.average_rating }} <a href="/request_book/{{ song.id }}"><button>Request</button></a></li>
            {% endfor %}
        </ul>
        <h2>All Languages</h2>
        <span>
            {% for language in allLanguages %}
            <a href="{{ url_for('all_languages', langId=language.id) }}">{{ language.name }}</a>
            {% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
    </div>
</div>
{% endblock %}
