{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center" style="margin-top: 20vh">
    <div class="mb-3 p-5 bg-light">
        <div class="text-danger">{{ error }}</div>
        <form action="{{ url_for('register') }}" method="POST">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            <label for="user_email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="user_email" name="email" placeholder="name@example.com">
            <label for="user_password" class="form-label">Password</label>
            <input type="password" class="form-control" id="user_password" name="password">
            <button type="submit" class="btn btn-primary mt-2">Register</button>
            <a href="{{ url_for('login') }}">Have an Account? Login</a>
        </form>
    </div>
</div>
{% endblock %}
